		body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h2 {
            color: #4CAF50;
        }

        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }
        
        .back {
            background-color: #4CAF50;
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            color: white;
        }

        button {
            padding: 10px 15px;
            margin: 8px;
            border: none;
            cursor: pointer;
        }

        button.add-unit {
            background-color: #4CAF50;
            color: white;
        }

        button.logout {
            background-color: #f44336;
            color: white;
        }

        button:hover {
            opacity: 0.8;
        }